@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");

@font-face {
    font-family: ComfortaaRegular;
    src: url('/fonts/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: ComfortaaLight;
    src: url('/fonts/Comfortaa-Light.ttf');
}

@font-face {
    font-family: ComfortaaBold;
    src: url('/fonts/Comfortaa-Bold.ttf');
}


body {
    margin: 0;
    font-family: ComfortaaRegular;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    -webkit-overflow-scrolling: touch;
}

.sticky-inner-wrapper {
    z-index: 1;
}

.youpii-confirm-button-class {
    background: #745334 !important; /* Old browsers */
    background: -moz-linear-gradient(#745334 0%, #fabc87 51%, #745334 93%, #745334 100%) !important /* FF3.6-15 */;
    background: -webkit-linear-gradient(left,  #745334 0%,#fabc87 51%,#745334 93%,#745334 100%) !important; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #745334 0%,#fabc87 51%,#745334 93%,#745334 100%) !important; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745334', endColorstr='#745334',GradientType=1 ) !important;
    background-size: "cover";
    background-repeat: "no-repeat";
    background-position: "center top";
    background-color: #d29f72;
    border: 0px !important;
    width: 125px;
    padding-left: 10px;
    padding-right: 10px;
}

.youpii-input-text-class {
  color: #808080 !important;
  border: 1px solid #d29f72 !important;
  box-shadow: none !important;
  border-radius: 7px;
}




@media only screen and (max-width: 767px) and (orientation: landscape) {
    #turn {
        text-align: center;
        flex-direction: column;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        display: inline-flex !important;
        height: 100%;
        width: 100%;
        position: absolute;
    }

    #root {
        display: none;
    }
}

@media only screen and (max-width: 480px) and (orientation: portrait) {
    #turn {
        display: none !important;
    }

    #root {
        display: block;
    }
}

/* #turn {
    /*background-repeat: repeat;*/
    /*background-image: url('/images/fundo_header.jpg');*/
    /*background-size: contain;*/
    /*background-position: center top;*/
/*} */

.error-message {
    font-family: ComfortaaRegular;
    font-size: 30px;
    /*color:#fff;*/
}

.error-image {
    max-width: 50px;
}

.sticky-outer-wrapper{
    width:100%
}
